* {

}


body{
  padding: 1em;
}
.App {
  
}

.leftPannel{float: left;}
.rightPannel{float:right;}

.controller{
    height: 200px;
    border: 1px;
    border-color: black;
    padding: 1em;
    margin-bottom: 3em;
}

.library{
    border: 1px;
}
.title{
  font-weight: 400;
}
.extra{
  font-size: .8rem;
}
