@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');




body{
}
.App {
}

Col {
	margin: 4px;  
	padding: 2em;
}


.leftPannel{
	float: left;
}
.rightPannel{
	float:right;
}

.controller{
	height: 200px;
    border: 1px;
    padding: 1em;
    margin-bottom: 3em;
    background-color: lightgray;
}
h3{
	font-weight: 700;
}
.contentCard{
	color: white;
	padding: .5em;
	line-height: 1em;
	height: 2em;
	margin: .1em;
	background-color: rgb(72, 70, 80);
	border-radius: 0%;
}
.rotationHeader{
	border: 1px solid #333333;
	
	color: white;
	padding: .5em;
	line-height: 1em;
	height: 2em;
	margin: .1em;
	background-color: rgb(72, 70, 80);
	border-radius: 0%;
}
.rotationRow{

	border: 1px solid #868686;
	padding: .5em;
	line-height: 1em;
	height: 2em;
	margin: .1em;
	background-color: rgb(238, 234, 234);

	border-radius: 0%;
}

.statistic{
	color: white;
	padding: 5px;
	margin: .2em;
	background-color: rgb(78, 77, 85);
	line-height: 0em;
}

.library{
    border: 1px;
    background-color: lightgray;
    padding: 1em;
}
.title{
  font-weight: 400;
}
.extra{
  font-size: .8rem;
}
p{
	margin-bottom: 0px;
}
.header{
	background: black;
	padding: 0 10px;
	font-size: 2em ;
	color: white;
}

#text-filter-column-Year{
	
}

.squareIndicator-on{
	width: 1rem;
	height: .3rem;
	color:white;
	background: rgb(255,0,0);
  	border-radius: 20%;
	display: inline-block;
	margin-right: 7px;
	
	
}

.squareIndicator-off{
	width: 1rem;
	height: .3rem;
	color: darkGrey;
	background: rgb(32,0,0);
  	border-radius: 20%;
	display: inline-block;
	margin-right: 7px;
	  
	transition: background .3s;
	transition: color .3s;
}

.indicator-on{
	width: .5rem;
	height: .5rem;
	color:white;
	background: rgb(255,0,0);
  	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
	
	
}

.indicator-off{
	width: .5rem;
	height: .5rem;
	color: darkGrey;
	background: rgb(32, 0, 0);
  	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
	  
	transition: background .3s;
	transition: color .3s;
}






.commandKeyStyle{
	background-color: rgb(34, 50, 75);

}
.commandKeyStyleOK{
	transition: background-color 1s;
	background-color: "green";
}
.commandKeyStyleERROR{
	transition: background-color 1s;
	background-color: "red";
}


input[type=text] {
  padding: 0;
  height: 20px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #333333;
  border-color: rgba(0, 0, 0, .15);
  background-color: rgb(240, 242, 245);
  font-size: 16px;
}
.libraryTable{
	width: 100%;
}

.library{
	min-height: 1000px;
}